/*  your css code here. If applicable */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    }
    
    .box { border:1px solid black;}
   